<div class="about-container">
    <div class="about-page">
        <h1> About</h1>
        <br />

        <h3> Bargain Finder is a site that allows users to search for tech deals and post deals that were found online.
        </h3>
        <p> Sign up for an account and begin your bargain finding adventure!
        </p>
    </div>
</div>