<form action="" method="POST" >
  <input type="text" name="name" value="{{celeb.name}}"/>
  <input type="text" name="occupation" value="{{celeb.occupation}}"/>
  <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}"/>
  <input type="submit" />
</form>