<h1> Search for a product or post your cheapest finds!</h1> 

<p> Search below </p>
<input type="text" id="search"/>



<p> Post your products below!</p>

<div id="products">
  <form action="/product/add" method="POST">
    <label for=""> Item Name </label>
    <input id="" type="text" name="name" placeholder="">

    <label for=""> Price </label>
    <input id="" type="text" name="price" placeholder="">

    <label for=""> Location </label>
    <input id="" type="text" name="location" placeholder="">

    <label for=""> Image </label>
    
    <button></button>

  </form>
</div>

<script>
  let theItems = JSON.parse('{{{json items}}}')
</script>
<script src="../myjavascript.js"></script>